[user]
  name = {{ git.user.name }}
  email = {{ git.user.email }}

[alias]
  st = status
  co = checkout
  changes=diff --name-status -r
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  recent-branches = for-each-ref --count=16 --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - (%(color:green)%(committerdate:relative)%(color:reset))'
  undo-last-commit = reset HEAD~1 --soft
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  publish = "!git push --set-upstream origin $(git branch-name)"
  publish-staging = "!git push --set-upstream origin $(git branch-name):staging"

[core]
  editor = vim

[color]
  diff = auto
  status = auto
  branch = auto

[color.status]
  untracked = bold red
  added = bold green
  changed = bold yellow

[github]
  user = {{ git.github.user }}
